@font-face {
  font-family: "ChakraPetch-Bold";
  src: url(/font/ChakraPetch-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "ChakraPetch-Bold";
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}


.logo {
  font-family: "poppins", sans-serif;
  display: flex;
  font-size: 20px;
  font-weight: 800;
  color: black;
  letter-spacing: 3px;
  cursor: pointer;
  text-transform: uppercase;
  position: absolute;
  left: 10%;
}


/* --------------------------content-----------------------------------  */

.content {
  display: grid;
  place-content: center;
  height: 80vh;
}

.text-content h1 {
  font-size: 5vw;
  font-weight: bold;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  line-height: 5.9rem;
}

.char {
  transform: translateY(-115px);
  transition: transfrom .5s;
}





